* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;
    text-decoration: none;
  }
  
  body {
    background-color: #f5f5f5;
    padding: .5rem;
  }

  .main{
    margin-top: 4rem;
  }
  
  .img-illustration {
    width: 250px;
    height: 248px;
    margin: auto;
    padding-top: 4rem;
  }
  
  .img {
    width: 100%;
    height: 100%;
  }
  
  .content {
    width: 343px;
    margin: 2rem auto;
  }

  .content-text{
    height: 15vh;
  }
  
  .content-text h2 {
    text-align: center;
    color: #272727;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
    padding-bottom: 1.5rem;
  }
  
  .content-text p{
    font-size: 1.125rem;
    font-weight: 400;
    text-align: center;
    color: #525252;
    line-height: 1.5rem;
  }

  .form{
    margin-top: 2rem;
  }
  
  label {
    color: #525252;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
  }
  
  .form-input {
    margin: 0.6rem 0;
    width: 100%;
    padding: 0.75rem 2.5rem;
    border-radius: 8px;
    border: 1px solid #bababa;
    background-color: #f5f5f5;
    font-size: 1rem;
    font-weight: 400;
  }
  
  .icon {
    position: relative;
  }
  
  .icon > img {
    position: absolute;
    top: 22px;
    padding-left: 0.8rem;
  }
  
  input:focus {
    outline-color: #2b7a78;
  }
  
  .forgot-psw-btn {
    background-color: #2b7a78;
    border-radius: 8px;
    width: 100%;
    height: 48px;
    padding: 0.75rem 2rem;
    border: none;
    margin-top: 1.5rem;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #fefefe;
    cursor: pointer;
  }

  .form .login-text{
    margin-top: 1rem;
    text-align: center;
  }

  .form .login-text a{
    color: #2b7a78;
    font-size: 1.1rem;
    font-weight: 500;
  }
  
  /* MEDIA QUERIES AND RESPONSIVENESS */
  
  @media screen and (min-width: 768px) {
    body {
      padding: 4.5rem 2.5rem;
      margin: auto;
    }
  
    .img-illustration{
      width: 500px;
      height: 350px;
    }
  
    .content{
      width: 500px;
      padding-top: 2rem;
    }

    .form input{
      background-color: #fff;
    }
  }
  @media screen and (min-width: 1024px) {
    .main {
      width: 996px;
      height: 500px;
      margin: auto;
      display: flex;
      padding-top: 5rem;
    }
    .img-illustration {
      width: 406px;
      height: 400px;
      border-bottom-left-radius: 5px;
      border-top-left-radius: 32px;
      position: relative;
      background-color: rgb(114, 166, 165);
      margin: 0;
      padding: 0;
    }
    .img {
      width: 326.08px;
      height: 259.09px;
      position: absolute;
      top: 60.48px;
      left: 20px;
    }
    .content {
      margin: 0;
      padding: 2rem 6rem;
      width: 590px;
      height: 400px;
      border-bottom-right-radius: 32px;
      border-top-left-radius: 5px;
      background-color: #fff;
    }
  
    .form {
      width: 400px;
    }
  }
  